/*
!/README.md
!/.gitmodules
!/.bash_profile
!/.bashrc
!/.vimrc
!/.gitconfig
!/.gitignore_global
!/.hgignore_global
!/.hgrc
!/.tmux.conf
!/print.png
!/install.sh
!/npm_essentials.sh
!/dircolors-solarized
!/vim
